
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo ion-text-center"><h1>CovidIT</h1></ion-title>
    <ion-buttons class="titolo" slot="end">
      <ion-button (click)="createMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="mapdiv">
    <object class="mappaSVG" id="mapReg" type="image/svg+xml" [attr.data]="regionSVGURL"></object>
  </div>

  <ion-text color="dark" class="ion-text-center">
    <h1 id="nomeRegione">{{nome}}</h1>
  </ion-text>


  <ion-button shape="round" color="secondary" expand="block" class="ion-text-center" (click)="gotoGrafici()">
    <ion-text class="ion-text-center">
      <p class="text_grafici">Vai ai grafici</p>
    </ion-text>
  </ion-button>


  <ion-text color="dark" class="ion-text-center">
    <p class="text_dati">Dati aggiornati al:</p>
    <p class="text_dati">{{dato$.ultimo_aggiornamento}}</p>
  </ion-text>

  <div class="data_box ion-text-center ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.nuovi_positivi}}</h3>
          <p>Nuovi positivi</p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.totale_positivi}}</h3>
          <p>Totale positivi</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div class="data_box ion-text-center ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.nuovi_decessi}}</h3>
          <p>Nuovi decessi</p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.totale_decessi}}</h3>
          <p>Totale decessi</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div class="data_box ion-text-center ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.nuovi_tamponi}}</h3>
          <p>Nuovi tamponi</p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.totale_tamponi}}</h3>
          <p>Totale tamponi</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div class="data_box ion-text-center ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.nuovi_terapia_intensiva}}</h3>
          <p>Nuove terapie intensive</p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-text color="dark">
          <h3>{{dato$.totale_terapia_intensiva}}</h3>
          <p>Totale terapie intensive</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
