.color-primary{
  --background: #F1B739;
}
.background-question{
  --background: #767A83;
  --color: white;
  --text-align: center;
  --font-family: "Nunito Sans";
}
.background-answer{
  --background: #F9D37E;
  --color: black;
  --text-align: center;
  --font-family: "Nunito Sans";
}
