<ion-header>
  <ion-toolbar class="ion-text-center color-primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CovidIT</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-list lines="none">

      <ion-item-divider class="background-question" >
        <ion-text>Chi siamo</ion-text>
      </ion-item-divider>

    <ion-item class="background-answer">
      <ion-text >
        <p >Ciao, siamo Marco e Lorenzo, due studenti dell'Università degli Studi de L'Aquila.<br>
          Abbiamo realizzato quest'app per fornire un mezzo semplice e rapido per reperire i dati relativi al Covid.</p>
      </ion-text>
    </ion-item>

    <ion-item-divider class="background-question" >
      <ion-text>Posso fidarmi dei dati che mostrate?</ion-text>
    </ion-item-divider>

    <ion-item class="background-answer">
      <ion-text >
        <p >Certo! I dati vengono presi da una fonte affidabile messa a disposizione dal Dipartimento della Protezione Civile. Noi ci limitiamo a prelevarli e mostrarli in
        modo facilmente comprensibile. Se vuoi controllare, <a href="https://github.com/pcm-dpc/COVID-19">tocca qui.</a></p>
      </ion-text>


    </ion-item>

    <ion-item-divider class="background-question" >
      <ion-text>Perché non riesco a visualizzare i dati di oggi? </ion-text>
  </ion-item-divider>

    <ion-item class="background-answer">
      <ion-text >
        <p >L'app preleva i dati inviati dalla Protezione Civile intorno alle 18:30 di ogni giorno, ma potrebbero sempre esserci dei ritardi e
          quindi può darsi che non siano ancora stati pubblicati. Ti conviene ricontrollare più tardi!</p>
      </ion-text>
    </ion-item>

    <ion-item-divider class="background-question" >
      <ion-text>Perché a livello provinciale vedo solo i contagi e non riesco a visualizzare altri dati? </ion-text>
    </ion-item-divider>

    <ion-item class="background-answer">
      <ion-text >
        <p >Purtroppo la nostra fonte non ci mette a disposizione altri dati a livello provinciale. </p>
      </ion-text>
    </ion-item>

    <ion-item-divider class="background-question" >
      <ion-label >Non vedo dati prima del 24/2/2020 </ion-label>
    </ion-item-divider>

    <ion-item class="background-answer">
      <ion-text >
        <p >Non sono stati raccolti dati prima di quella data</p>
      </ion-text>
    </ion-item>


  </ion-list>

</ion-content>
