<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo"slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo ion-text-center"><h1>CovidIT</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

      <div class="ion-no-padding" *ngFor="let faq of faqs$"  >
      <span>
        <ion-card>
          <ion-card-header class="background-answer ion-no-padding" >
      <ion-card-title class="ion-text-center">{{faq.domanda}}</ion-card-title>
            </ion-card-header>
        <ion-item>
      <ion-text>
        <p>{{faq.risposta}}</p>
      </ion-text>
    </ion-item>
          </ion-card>
      </span>
    </div>

</ion-content>
