.graph_button{
    border-radius: 25px;
}

.text_dati{
    font-size: 0.5em;
    color: "secondary"
}

.data_box{
    border-radius: 25px;
}

.text_dati{
    font-size: 0.75em;
}

.data_box{
    border-style: solid;
    border-radius: 25px;
    border-color: #F9D37E;
}

.text_grafici{
    font-weight: bold;
    color: white;
}

svg path{
    fill: #9DA3B3;

}

.titolo{
    color: #FFF;
}

.mapdiv{
    transform: scale(0.95)
}