.text_dati{
    font-size: 0.75em;
}

.data_box{
    border-style: solid;
    border-radius: 25px;
    border-color: #F9D37E;
}

.text_grafici{
    font-weight: bold;
    color: white;
}

svg path{
    fill: #9DA3B3;
}
