/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: "Nunito-sans";
  --ion-font-family: "Nunito-sans";
    src: url(assets/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}


.data_box{
    border-style: solid;
    border-radius: 25px;
    border-color: #F9D37E;
}

.graph_button{
    border-radius: 25px;
}

.text_dati{
    font-size: 0.75em;
    color: "secondary"
}


.text_grafici{
    font-weight: bold;
}

svg path{
    fill: #9DA3B3;
}

.titolo{
    color: #FFF;
}

.mapdiv{
    transform: scale(0.95)
}
