<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo ion-text-center"><h1>CovidIT</h1></ion-title>
    <ion-buttons class="titolo" slot="end">
      <ion-button (click)="createMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1 id="nomeRegione">{{sourceType}}</h1>
  </ion-text>
<ion-text class="ion-text-center"><h6>Seleziona l'intervallo temporale:</h6></ion-text>
  <ion-item>
    <ion-label>Dal giorno:</ion-label>
    <ion-datetime cancelText="Esci" doneText="Conferma"  displayFormat="DD/MM/YYYY" [min]="PRIMOGIORNO" [max]="endDate" placeholder="Seleziona"
                   [(ngModel)]="startDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Al giorno:</ion-label>
    <ion-datetime cancelText="Esci" doneText="Conferma"  displayFormat="DD/MM/YYYY" [min]="startDate" [max]="oggi" placeholder="Seleziona"
                  [(ngModel)]="endDate"></ion-datetime>
  </ion-item>
  <ion-button shape="round" color="primary" expand="block" class="ion-text-center" (click)="doRefresh()">
    <ion-text class="ion-text-center">
      <p class="text_grafici">Aggiorna i grafici</p>
    </ion-text>
  </ion-button>
  <div [hidden]="hidden">
    <div class="ion-no-padding" *ngFor="let chart of charts$; index as i"  style="width: 100%; --inner-padding-bottom: 0; --inner-padding-end: 0; --inner-padding-start: 0; --inner-padding-top: 0; margin-inline-end: 0;
                margin-right: 0;"  >
        <span>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title color="dark">{{titoli$[i]}}</ion-card-title>
      </ion-card-header>
          <div  id='{{chart}}' style="width:100%; height:400px;"></div>
    </ion-card>
        </span>
    </div>
    </div>
</ion-content>

