
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios" class="titolo"><h1>CovidIT</h1></ion-title>
    <ion-buttons class="titolo" slot="end">
      <ion-button (click)="createMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" ><p>{{sourceType}}</p></ion-text>
<ion-text class="ion-text-center"><h6>Seleziona l'intervallo temporale:</h6></ion-text>
  <ion-item>
    <ion-label>Dal giorno:</ion-label>
    <ion-datetime cancelText="Esci" doneText="Conferma"  displayFormat="DD/MM/YYYY" min="2020-02-24" [max]="endDate" placeholder="Seleziona"
                  [(ngModel)]="startDate" (ionChange)="set(startDate,'start')"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Al giorno:</ion-label>
    <ion-datetime cancelText="Esci" doneText="Conferma"  displayFormat="DD/MM/YYYY" min="2020-02-24" max="2021-12-31" placeholder="Seleziona"
                  [(ngModel)]="endDate" (ionChange)="set(endDate,'end')"></ion-datetime>
  </ion-item>


<ion-list mode="ios" lines="none">

  <ion-item class="ion-no-padding "
            style=" --inner-padding-bottom: 0; --inner-padding-end: 0; --inner-padding-start: 0; --inner-padding-top: 0;" >
    <google-chart [data]="chart"></google-chart>
  </ion-item>
  <ion-item class="ion-no-padding" style=" --inner-padding-bottom: 0; --inner-padding-end: 0; --inner-padding-start: 0; --inner-padding-top: 0;" >
    <google-chart [data]="chart"></google-chart>
  </ion-item>
</ion-list>

</ion-content>
