.background-primary{
  --background: #F1B739;
}
.background-mail{
  --background: #767A83;
}
.background-nomeregione{
  --background: #F9D37E;
  --color: black;
  --font-family: "Nunito Sans";
}

.background-item-1{
  --background: #9DA3B3;
  --color: black;
  --text-align: center;
  --font-family: "Nunito Sans";
}
.background-item-2{
  --background: #B8BCC7;
  --ion-text-color: black;
  --font-family: "Nunito Sans";
}
