<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo" mode="ios" ><h1>CovidIT</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let contact of contacts$" class="ion-no-padding" >
      <span>
        <ion-card>
          <ion-card-header class="background-nomeregione ion-no-padding" >
      <ion-card-title class="ion-text-center">{{contact.nomeRegione}}</ion-card-title>
            </ion-card-header>
    <div *ngFor="let contatto of contact.listacontatti;">
      <ion-card-content style="border-bottom: 1px solid #767A83">
        <ion-card-subtitle>{{contatto.nomecontatto}}</ion-card-subtitle>
        <h3>{{contatto.contatto}}</h3>
        <div>
      <ion-button class="background-primary" *ngIf="contatto.tipologiaContatto=='numero'" (click)="chiama(contatto.contatto)">
        <ion-icon slot="icon-only" src="assets/svg/phone.svg" size="big"></ion-icon>
        </ion-button>
  </div>
        </ion-card-content>
      </div>
        </ion-card>
      </span>
</div>
</ion-content>
