
<ion-header>
  <ion-toolbar class="ion-text-center background-icon">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CovidIT</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">

  <ion-list lines="full" >
    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Abruzzo</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label>
        <h2>Numero Verde Regionale:</h2>
        <h3>800 595 459</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>

      </ion-item>
    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Basilicata</h1>
      </ion-text>
    </ion-item-divider>

    <ion-item class="background-item-1">
      <ion-label>
        <h2>Numero Verde Regionale:</h2>
        <h3>800 595 459</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="small"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Calabria</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 841 289</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="background-item-2">
      <ion-label >
        <h2>Informazioni Piano Vaccinale:</h2>
        <h3>0961 789775</h3>
        <h4> Lun-Ven: dalle 9 alle 17</h4>
        <h4> Sabato: dalle 9 alle 14</h4>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Campania</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 909 699</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Emilia Romagna</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 033 033</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Friuli Venezia Giulia</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label>
        <h2>Numero Verde Regionale:</h2>
        <h3>800 909 060</h3>
        <h4>Lun-Sab: dalle 8 alle 20 </h4>
        <h4>(Festivi Esclusi)</h4>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Lazio</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 118 800</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Liguria</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>Non disponibile</h3>
      </ion-label>
    </ion-item>

    <ion-item class="background-item-2">
      <ion-label >
        <h2>Contatto e-Mail:</h2>
        <h3>sonoinliguria@regione.liguria.it</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/mail.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Lombardia</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 894 545</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Marche</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 936 677</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Molise</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>Non disponibile</h3>
      </ion-label>
    </ion-item>

    <ion-item class="background-item-2">
      <ion-label >
        <h2>Contatto e-Mail:</h2>
        <h3>coronavirus@asrem.org</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/mail.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Piemonte</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label>
        <h2>Numero Verde Regionale:</h2>
        <h3>800 957 795</h3>
        <h4>Lun-Dom: dalle 8 alle 20 </h4>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="background-item-2">
      <ion-label>
        <h2>Numero Verde Regionale:</h2>
        <h3>800 333 444</h3>
        <h4>Lun-Ven: dalle 8 alle 20 </h4>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Provincia Autonoma di Bolzano</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label>
        <h2>Non Disponibili</h2>
      </ion-label>

    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Provincia Autonoma di Trento</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 867 388</h3>
        <h4>Lun-Ven: dalle 8 alle 18</h4>
        <h4>Sabato: dalle 8 alle 14</h4>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Puglia</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 713 931</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="background-item-2">
      <ion-label >
        <h2>Numero Verde dall'estero:</h2>
        <h3>+39 080 3373398</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Sardegna</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Informazioni Sanitarie:</h2>
        <h3>800 311 377</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="background-item-2">
      <ion-label >
        <h2>Protezione Civile:</h2>
        <h3>800 894 530</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="background-item-1">
      <ion-label >
        <h2 >Viaggiatori in ingresso:</h2>
        <h3>800 180 977</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="background-item-2">
      <ion-label >
        <h2>Viaggiatori in ingresso:</h2>
        <h3>urp.emergenza@regione.sardegna.it</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/mail.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Sicilia</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 458 787</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Toscana</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>055 90 77 77 7</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Umbria</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>8800 636 363</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Valle d'Aosta</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 122 121</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider class="background-nomeregione" >
      <ion-text>
        <h1>Veneto</h1>
      </ion-text>
    </ion-item-divider>
    <ion-item class="background-item-1">
      <ion-label >
        <h2>Numero Verde Regionale:</h2>
        <h3>800 462 340</h3>
      </ion-label>

      <ion-button class="background-icon">
        <ion-icon src="assets/svg/phone.svg" size="big"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
