
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="titolo" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titolo ion-text-center"><h1>CovidIT</h1></ion-title>
    <ion-buttons class="titolo" slot="end">
      <ion-button (click)="createMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mapdiv">
    <object class="mappaSVG" id="mapRegProvince" type="image/svg+xml" [attr.data]="region"></object>
  </div>


  <ion-text color="dark" class="ion-text-center">
    <h1 id="nomeProvincia">{{dato$.nome}}</h1>
  </ion-text>

  <ion-text color="dark" class="ion-text-center">
    <p class="text_dati">Dati aggiornati al:</p>
    <p class="text_dati">{{dato$.ultimoAggiornamento}}</p>
  </ion-text>

  <div class="data_box ion-text-center ion-margin-bottom ion-margin-start ion-margin-end">
        <ion-text class="ion-text-center" color="dark">
          <h2>{{dato$.totaleContagi}}</h2>
          <p>Contagi totali</p>
        </ion-text>
  </div>




</ion-content>
